<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Read It.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6C00C401D8B5436005DAB1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6C00C571D8B5439005DAB1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6C00C621D8B543A005DAB1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
